body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../style/swsbg2.jpg);
    background-size: 100% auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.topnav {
    background: rgba(30, 30, 30, 0.4);
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
  }
  
.topnav a.active {
    background-color: red;
    color: white;
  }

  #maindiv {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }

  #maintitle {
    color: white;
    font-variant: small-caps;
    font-size: 50px;
  }

  #mainpara {
    color: white;
    font-size: large;
  }

.mybutton {
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.mybutton:hover {
    background-color: #580000;
}

input[type=text], input[type=number], select, input[type=date] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

label {
  color: white;
}

.listeditems {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  width: 200px;
}

#myfirstchart text{
  fill: white;
}